@import "tailwindcss";

:root {
  --background: #c5b7d8;
  --foreground: #574f64;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #574f64;
    --foreground: #c5b7d8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
}

@layer base {
  
  h1{
    font-size-adjust: inherit;
    padding-top: 3%;
    font-size: var(--text-4xl);
    color: var(--color-gray-800);
    font-weight: bolder;
    font-family: var(--font-roboto);
  }

  h2{
    font-size-adjust: inherit;
    padding: 1%;
    font-size: var(--text-xl );
    color: var(--color-gray-500);
    font-weight: bold;
    font-family: var(--font-roboto);
  }

  p{
    align-content: center;
    font-size-adjust: inherit;
    font-family: var(--font-quicksand);
  }
  
}