@import "tailwindcss";

:root {
  --background: #c5b7d8;
  --foreground: #574f64;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #574f64;
    --foreground: #c5b7d8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none;  /* Firefox */
  }
}


@layer base {
  
  h1{
    font-size-adjust: inherit;
    padding-top: 3%;
    font-size: 2.25rem;
    color: #9d174d;
    font-weight: 900;
    font-family: var(--font-quicksand);
  }

  h2{
    font-size-adjust: inherit;
    padding: 1%;
    font-size: 1.25rem;
    color: #6b7280;
    font-weight: bold;
    font-family: var(--font-quicksand);
  }

  p{
    align-content: center;
    font-size-adjust: inherit;
    font-family: var(--font-quicksand);
    font-weight: 700;
  }
  
  a{
    align-content: center;
    font-size-adjust: inherit;
    font-family: var(--font-quicksand);
    font-weight: 700;
  }

  Button{
    align-content: center;
    font-size-adjust: inherit;
    font-family: var(--font-quicksand);
    font-weight: 700;
  }

  #invoice {
  color: #000;
  }

  #invoice button {
    background-color: #9333ea;
  } 
}

  